.container-fluid{
    color: white;
    background-image: url("../images/contact.jpeg");
    background-size: 100%;
}
.container-for-about{
    float: top;

}
.container-for-about{
    text-align: center;
    text-indent: each-line;
}
.container{
    float:bottom;
}
.navbar-brand{
    background-image: url("../images/data(1).jpg");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.0rem;
}