html{
    background-image: url("../images/contact.jpeg");
    height: 100%;
}
.my-container-fluid{
    background-image: url("../images/contact.jpeg");
}
.my-container-fluid.navbar-brand{
    background-image: url("../images/contact.jpeg");
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}